<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
        <title>Document</title>
    </head>
    <body>
        
        <div id="app">
            <header>
                <div class="sfondoSearch d_flex flex_between">
                    <img src="assets/img/boolflix.png" alt="">
                    <input type="text" name="search" v-model="search" placeholder="Search" @keyup.enter="inviaRichiestaFilm()" >
                </div>
            </header>
            
            <main class="sfondoMain">
                <div class="films_container d_flex p_10">
                    <ul v-for="film in films" class="pr_10">
                        <!-- <img src="https://image.tmdb.org/t/p/w342/u1z05trCA7AuSuDhi365grwdos1.jpg" alt=""> -->
                        <div class="card">
                            <img v-if="film.copertinaCompleta" :src="film.copertinaCompleta" alt="">
                            <img id="img_undefined" v-else src="assets/img/posternotfound.png" alt="">
                            <div class="info d_flex_column flex_around text_center">
                                <h1>{{film.title}}</h1>
                                <h2>{{film.original_title}}</h2>
                                <!-- <li>{{film.original_language}}</li> -->
                                <li class="lingua">
                                    <img v-if="film.original_language == 'it'" class="flag" src="assets/img/ita.png" alt="">
                                    <img v-else-if="film.original_language == 'en'" class="flag" src="assets/img/eng.png" alt="">
                                    <img v-else-if="film.original_language == 'fr'" class="flag" src="assets/img/fra.png" alt="">
                                    <img v-else-if="film.original_language == 'ja'" class="flag" src="assets/img/jap.png" alt="">
                                    <img v-else-if="film.original_language == 'es'" class="flag" src="assets/img/esp.png" alt="">
                                    <img v-else-if="film.original_language == 'de'" class="flag" src="assets/img/det.png" alt="">
                                    <img v-else-if="film.original_language == 'cs'" class="flag" src="assets/img/repcieca.png" alt="">
                                    <img v-else="" class="flag" src="assets/img/ops.png" alt="">
                                </li>
                                <!-- <li>{{film.vote_average}}</li> -->
                                <li class="color_yellow">
                                    <i class="fas fa-star" v-for="stella in film.stelle"></i><i class="far fa-star" v-for="stella in (5-film.stelle)"></i>
                                </li>
                                <p class="descrizione">
                                    {{film.overview}}
                                </p>
                            </div>
                        </div>
                    </ul>
                </div>
                <!-- <div class="tvSeries_container d_flex">
                    <ul v-for="serie in tvSeries">
                        <img v-if="serie.copertinaCompleta" :src="serie.copertinaCompleta" alt="">
                        <img v-else src="assets/img/posternotfound.png" alt="">
                        <li>{{serie.name}}</li>
                        <li>{{serie.original_name}}</li>

                        <li>
                            <img v-if="serie.original_language == 'it'" class="flag" src="assets/img/ita.png" alt="">
                            <img v-else-if="serie.original_language == 'en'" class="flag" src="assets/img/eng.png" alt="">
                            <img v-else-if="serie.original_language == 'fr'" class="flag" src="assets/img/fra.png" alt="">
                            <img v-else-if="serie.original_language == 'ja'" class="flag" src="assets/img/jap.png" alt="">
                            <img v-else-if="serie.original_language == 'es'" class="flag" src="assets/img/esp.png" alt="">
                            <img v-else-if="serie.original_language == 'de'" class="flag" src="assets/img/det.png" alt="">
                            <img v-else-if="serie.original_language == 'cs'" class="flag" src="assets/img/repcieca.png" alt="">
                            <img v-else="" class="flag" src="assets/img/ops.png" alt="">
                        </li>
                        
                        <li>
                            <i class="fas fa-star" v-for="stella in serie.stelle"></i><i class="far fa-star" v-for="stella in (5-serie.stelle)"></i>
                        </li>
                    </ul>
                </div> -->   
            </main>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>